<!DOCTYPE html>
<html>
<head>
<title>Diagram with SVG</title>
<style>
body {
    height: 100vh;
    margin: 0;
    padding: 1em;
    box-sizing: border-box;
}

main {
  display:flex;
  margin: auto;
  width: 960px;
  height: 100%;
}

main > section {
  height: 100%;
}

[v-cloak] {
  visibility:hidden;
}

svg {
   border:1px solid slategray;
}
svg .selected {
   stroke:violet;
}

svg .ondrag {
   stroke:blue;
}

svg use {
   cursor:grab;
}

svg path.wire {
    stroke-linecap: square;
    fill: transparent;
}

main .asidebar {
}

main .asidebar button {
   display:block;
   width:100%;
   font-family: consolas;
   background-color: lightyellow;
   border: 1px solid slategray;
   margin-top: 1px;
   line-height: 1.8;
   border-radius: 50%;
}

.asidebar button.tool {
  background-color: azure;
  border-radius: 0;
}

hr.sp {
  visibility: hidden;
}

.metabar > * {
   display:block;
   width:100%;
}

main svg {
  margin: 0 0.5rem;
}

rect.grid {
  /*
  fill:"url(#grid)";
  */
  stroke:none;
}
rect.nogrid {
  display:none;
}

svg .diagram text {
    font-family: consolas;
    font-size: 14px;
    stroke: none !important;
    user-select: none;
}

</style>
</head>
<body>

<main>
<aside class="asidebar">
  <button class="tool" onclick="diagram_toggle_grid()">grid</button>
  <button class="tool" onclick="diagram_clear()">clear</button>
  <button class="tool" onclick="diagram_flip()">flip</button>
  <hr class="sp"/>
  <button onclick="diagram_add_text()">text</button>
  <button onclick="diagram_add_wire()">wire</button>
  <hr class="sp"/>
  <button onclick="diagram_add_use('vdd')">vdd</button>
  <button onclick="diagram_add_use('vss')">vss</button>
  <button onclick="diagram_add_use('pmos')">pmos</button>
  <button onclick="diagram_add_use('nmos')">nmos</button>
  <button onclick="diagram_add_use('buf')">buf</button>
  <button onclick="diagram_add_use('inv')">inv</button>
  <button onclick="diagram_add_use('nand')">nand</button>
  <button onclick="diagram_add_use('nor')">nor</button>
  <button onclick="diagram_add_use('and')">and</button>
  <button onclick="diagram_add_use('or')">or</button>
  <button onclick="diagram_add_use('mux')">mux</button>
  <button onclick="diagram_add_use('dff')">dff</button>
  <button onclick="diagram_add_use('clk')">clk</button>
  <button onclick="diagram_add_use('icg')">icg</button>
</aside>
<section>
<svg stroke="black" viewBox="-360 -360 720 640" width="720" height="100%">
  <defs id="lib-grid">
      <pattern id="grid" patternUnits="userSpaceOnUse" width="10" height="10">
        <path d="M 0,10 h 10 v -10" stroke="silver" fill="none" stroke-width="0.5"/>
      </pattern>
  </defs>

  <defs id="lib-marker">
    <marker id="marker-triangle" refX="1" refY="5" markerWidth="10" markerHeight="10" markerUnits="userSpaceOnUse" orient="auto">
      <path d="M 0 0 L 10 5 L 0 10 z" fill="none"/>
    </marker>

     <marker id="marker-dot" refX="0" refY="3" markerWidth="6" markerHeight="6">
      <circle cx="3" cy="3" r="3" fill="black" />
    </marker>

     <marker id="marker-circle" refX="0" refY="3" markerWidth="6" markerHeight="6">
      <circle cx="3" cy="3" r="3" fill="none" />
    </marker>
  </defs>

  <defs id="lib-symbol">

  <symbol id="nmos" width="25" height="50" transform="translate(-24, 0)" viewBox="-25 0 25 50">
     <path fill="none" d="M -1,0 v 10 h -10 v 20 h 10 v 10 M -15,10 v 20 M -20,20 h 5"/>
     <rect x="-20" y="0" width="20" height="40" fill="transparent" stroke="none"/>
  </symbol>

  <symbol id="pmos" width="25" height="50" transform="translate(-24, 0)" viewBox="-25 0 25 50">
     <rect x="-20" y="0" width="20" height="40" fill="transparent" stroke="none"/>
     <path fill="none" d="M -1,0 v 10 h -10 v 20 h 10 v 10 M -15,10 v 20 M -15,20 a 2.5 2.5 360 1 1 0 0"/>
     <circle cx="-18" cy="20" r="3.0" fill="none"/>
  </symbol>

  <symbol id="vdd" width="20" height="20" transform="translate(-10, 0)" viewBox="-10 0 20 20">
     <path fill="none" d="M 0,10 v 10 M -10,10 h 20"/>
     <rect x="-10" y="0" width="20" height="20" fill="transparent" stroke="none"/>
  </symbol>
  <symbol id="vss" width="20" height="20" transform="translate(-10, 0)" viewBox="-10 0 20 20">
     <path fill="none" d="M -10,1 h 20 M -6,5 h 12 M -3,10 h 6"/>
     <rect x="-10" y="0" width="20" height="20" fill="transparent" stroke="none"/>
  </symbol>

  <symbol id="buf" width="40" height="25" viewBox="-10 -10 40 25">
     <path fill="transparent" d="M 0,-10 v 20 l 20,-10 l -20,-10 M 0,0 h -10 M 20,0 h 10"/>
  </symbol>

  <symbol id="inv" width="50" height="25" viewBox="-10 -10 50 25">
     <path fill="transparent" d="M 0,-10 v 20 l 20,-10 l -20,-10 M 0,0 h -10 M 26,0 h 14"/>
     <circle cx="23" cy="0" r="3.0" fill="none"/>
  </symbol>

  <symbol id="nand">
     <path fill="transparent" d="
          M 10,10 v 40 h 20 a 20 20 180 0 0 0,-40 h -20
          M 10,20 h -10
          M 10,40 h -10
          M 56,30 h 15
          "/>
     <circle cx="53" cy="30" r="3.0" fill="none"/>
  </symbol>

  <symbol id="and">
     <path fill="transparent" d="
          M 10,10 v 40 h 20 a 20 20 180 0 0 0,-40 h -20
          M 10,20 h -10
          M 10,40 h -10
          M 56,30 h 15
          "/>
  </symbol>

  <symbol id="nor">
  	<path d="
           M 10,10 h 10
           c 15,0 30,10 30,20
           c 0,10 -15,20 -30,20 h-10
           c 15,-10 15,-30 0,-40
           M19,20 h-19
           M19,40 h-19
           M56,30 h15" fill="transparent" pointer-events="all"></path>
     <circle cx="53" cy="30" r="3.0" fill="none"/>
  </symbol>

  <symbol id="or">
  	<path d="
           M 10,10 h 10
           c 15,0 30,10 30,20
           c 0,10 -15,20 -30,20 h-10
           c 15,-10 15,-30 0,-40
           M19,20 h-19
           M19,40 h-19
           M50,30 h20" fill="transparent" pointer-events="all"></path>
  </symbol>
  

  <symbol id="mux" width="40" height="60" viewBox="-10 -30 40 60">
     <path fill="transparent" d="M 0,-20 v 40 l 20,-10 v -20 l -20,-10 M 20,0 h 10 M 0,10 h -20 M0,-10h-20"/>
  </symbol>

  <symbol id="dff" width="60" height="80" viewBox="-10 -70 60 80">
     <rect x="0" y="-60" width="40" height="60" fill="transparent"/>
     <path fill="transparent"
        d=" M 0,-15 l 10,5 l -10,5 z 
            M 0,-10 h -10 z 
            M 0,-50 h -10 z
            M 40,-50 h10"/>
  </symbol>
  <symbol id="clk" width="50" height="30" viewBox="-10 -20 50 30">
     <path fill="transparent" d="M 0,0 h 10 v -10 h 10 v 10 h 10"/>
  </symbol>
  <symbol id="icg" width="60" height="60" viewBox="-10 -60 60 60">
     <rect x="0" y="-40" width="30" height="40" fill="transparent"/>
     <path fill="transparent"
        d=" M 0,-25 l 10,5 l -10,5 z 
            M 0,-20 h -10 z 
            M 30,-20 h10"/>
  </symbol>
  </defs>

  <rect class="grid" x="-200%" y="-200%" width="400%" height="400%" fill="url(#grid)"/>
  <circle cx="0" cy="0" r="3" fill="silver" stroke="black"/>

  <g class="diagram" data-transform="scale(1,-1)">
      <!--path d="M 50,50 h 50 v 50" fill="none"/-->
      <path class="wire" d="M 50,50 v 50" fill="translate" stroke-width="5" clip-path="inset(0 1)"/>
      <path class="wire" d="M -50,-50 h 50" fill="translate" stroke-width="5"/>
      <path class="wire" d="M -50,-50 h 50" fill="translate" stroke-width="5" marker-end="url(marker.svg#marker-circle)"/>
      <use href="#vdd"  x="100" y="50"/>
      <use href="#nmos" x="100" y="100"/>
      <use href="#pmos" x="100" y="160"/>
      <use href="#vss"  x="100" y="220"/>
      <use href="#buf"  x="100" y="-100"/>
      <use href="#inv"  x="100" y="-150"/>
      <use href="#nand"  x="150" y="-150"/>
      <use href="#nor"  x="180" y="-200"/>
      <circle cx="180" cy="-200" r="3" fill="silver"/>
      <use href="#mux"  x="100" y="-300"/>
      <use href="#dff"  x="200" y="-300"/>
      <use draggable=true href="#icg"  x="200" y="-100"/>
      <use href="#clk"  x="200" y="-200"/>
  </g>
</svg>
</section>
<aside class="metabar" v-cloak>
  <label v-if="editmeta.path">
    Path:<br/>
    <input type="text" name="path" v-model="editmeta.path" v-on:keyup.enter="update_meta"/><br/>
    <input type="text" name="marker_end" v-model="editmeta.marker_end" v-on:keyup.enter="update_meta"/>
  </label>

  <label v-if="editmeta.text">
    Text:<br/>
    <input type="text" name="text" v-model="editmeta.text" v-on:keyup.enter="update_meta"/><br/>
    <input type="text" name="text_anchor" title="start middle end"
       v-model="editmeta.text_anchor" v-on:keyup.enter="update_meta"/>
  </label>
</aside>
</main>

<script src="vendor/vue.min.js"></script>
<script>
var diagram_state = {
  selected: null,
  editmeta: {
    path:null, 
    marker_end:null, 

    text:null,
    text_anchor: null,
  } 
};
function diagram_select(el){
   diagram_state.selected = el;

   diagram_state.editmeta.path = null; 
   diagram_state.editmeta.text = null; 
   diagram_state.editmeta.text_anchor= null; 

   if(el.tagName == "path"){
      diagram_state.editmeta.path = el.getAttribute("d");
   } else if(el.tagName == "text"){
      diagram_state.editmeta.text = el.textContent;
      diagram_state.editmeta.text_anchor = el.getAttribute("text-anchor");
   } else {
      diagram_state.editmeta.path = null; 
      diagram_state.editmeta.text = null; 
   }
}
new Vue({
  el: 'aside.metabar',
  data: diagram_state,
  methods: {
    update_meta: function(evt){
      console.log("hi", evt.target.value);
      let value = evt.target.value;
      console.log(globalSelected);
      if(globalSelected.tagName=="path"){
        switch(evt.target.name){
          case "path":
            globalSelected.setAttribute("d", value);
            break;
          case "marker_end":
            globalSelected.setAttribute("marker-end", `url(#marker-${value})`);
            break;
        }
      } else if(globalSelected.tagName=="text"){
        switch(evt.target.name){
          case "text":
            globalSelected.textContent = value;
            break;
          case "text_anchor":
            globalSelected.setAttribute("text-anchor", value);
            break;
        }
      }
    }
  }
});
</script>
<script>
var globalSelected;


function svg_snap_grid(x){
   return Math.round(x/10.0)*10; 
}

function getSVGLocation(evt, matrix){
 var dragX = evt.clientX, dragY = evt.clientY;
 var svgX, svgY;

 if(0){
   dragX = svgX*matrix.a + matrix.e;
   dragY = svgY*matrix.d + matrix.f;
 }else{
   svgX = (dragX-matrix.e)/matrix.a;
   svgY = (dragY-matrix.f)/matrix.d;
 }
 return {x:svgX, y:svgY};
}


var activeElement;

function add_wire_segment(x, y, is_click){
    x = Math.round(x);
    y = Math.round(y);

    let x1 = parseFloat(activeElement.dataset.x1);
    let y1 = parseFloat(activeElement.dataset.y1);

    x = svg_snap_grid(x);
    y = svg_snap_grid(y);
    x1 = svg_snap_grid(x1);
    y1 = svg_snap_grid(y1);

    let dx = x-x1, dy = y-y1;
    let segment;
    let path_head = activeElement.dataset.head;
    if(path_head==""){
       path_head = `M ${x1},${y1}`;
    }
    let abs_dx = Math.abs(dx), abs_dy = Math.abs(dy);
    let abs_degree = Math.atan2(abs_dy, abs_dx)/Math.PI*180;
    if(0 && abs_dx >= abs_dy &&  abs_degree<15){
       segment = dx==0?'':` h ${dx}`;  
       dy = 0;
    }else if(0 && abs_dy >= abs_dx && abs_degree<15){
       segment = dy==0?'':` v ${dy}`;  
       dx = 0;
    }else if(dy==0 && dx!=0){
       segment = ` h ${dx}`;  
    }else if(dx==0 && dy!=0){
       segment = ` v ${dy}`;  
    }else{
       segment = dy==0&&dx==0?'':` l ${dx},${dy}`;  
       //
    }
    activeElement.setAttribute("d", path_head + segment);

    if(is_click){
      x = x1 + dx;
      y = y1 + dy;
      activeElement.dataset.head = activeElement.getAttribute("d");
      activeElement.dataset.x1 = x;
      activeElement.dataset.y1 = y;
      // activeElement.setAttribute("d", activeElement.dataset.head + ` M ${x},${y} h 0`);
    }

}

var selectedElement = null;

function svg_drag(svg, target){
  var future;

  // var svg = target.ownerSVGElement;


  document.body.addEventListener("keyup", function(evt){
     console.log("keyup", evt.key, evt.code);
     if(evt.key == "Delete"){
       evt.stopPropagation();
       evt.stopImmediatePropagation();
       evt.preventDefault();

       globalSelected.parentElement.removeChild(globalSelected);
       globalSelected = null;
       return false;
     }

     if(activeElement && evt.key == "Escape"){
        activeElement.setAttribute("d", activeElement.dataset.head);
        activeElement = null;
     }
  });


  svg.addEventListener("click", function(evt){
     diagram_select_element(evt.target);


     if(!evt.shiftKey) return;

     console.log("click", getSVGLocation(evt, svg.getScreenCTM()));
     let point = getSVGLocation(evt, svg.getScreenCTM());
     if(!activeElement){
	 var el = document.createElementNS("http://www.w3.org/2000/svg", "path")
	 el.setAttribute("class", "draw-wire wire");
	 el.setAttribute("d", "");
	 el.dataset.x1 = Math.round(point.x);
	 el.dataset.y1 = Math.round(point.y);
	 el.dataset.head  = "";
         diagram_add_element(el);

	 activeElement = el;
     }
     add_wire_segment(point.x, point.y, 1);
  });

  svg.addEventListener("mousedown", function(evt){
     let target = evt.target;
     if(!(target.tagName == "use" || target.tagName=="path" || target.tagName=="text")){
        return;
     }

     console.log(target);
     selectedElement = evt.target;
     var dragstart_event = new Event('dragstart',{"bubbles":true, "cancelable":true});
     dragstart_event.clientX = evt.clientX;
     dragstart_event.clientY = evt.clientY;
     selectedElement.dispatchEvent(dragstart_event);

  });

  svg.addEventListener("mouseup", function(evt){
     if(selectedElement){
        var dragend_event = new Event('dragend',{"bubbles":true, "cancelable":true});
        dragend_event.clientX = evt.clientX;
        dragend_event.clientY = evt.clientY;
        selectedElement.dispatchEvent(dragend_event);
        selectedElement = null;
     }
  });


  svg.addEventListener("mousemove", function(evt){
     if(evt.buttons === 1){
       console.log("is drag", evt.buttons);
     }

     if(activeElement){
        let point = getSVGLocation(evt, svg.getScreenCTM());
        add_wire_segment(point.x, point.y);
        return;
     }else if(selectedElement && evt.buttons===1){
        var drag_event = new Event('drag',{"bubbles":true, "cancelable":true});
        drag_event.clientX = evt.clientX;
        drag_event.clientY = evt.clientY;
        selectedElement.dispatchEvent(drag_event);
        return;
     }else if(selectedElement){
        var drag_event = new Event('place',{"bubbles":true, "cancelable":true});
        drag_event.clientX = evt.clientX;
        drag_event.clientY = evt.clientY;
        selectedElement.dispatchEvent(drag_event);
        return;
     }

  });

  svg.addEventListener("dragstart", function(evt){
     let dragElement = evt.target;
     console.log("dragstart", dragElement);

     dragElement.classList.add("ondrag");

     var bbox   = dragElement.getBBox(); 
     var matrix = dragElement.getScreenCTM();
     var loc    = getSVGLocation(evt, matrix);

     future = future || {timer:null, x:0, y:0, dx:0, dy:0, matrix:matrix}; 
     future.dx = loc.x; // loc.x - bbox.x;
     future.dy = loc.y; // loc.y - bbox.y;
  });

  svg.addEventListener("dragend", function(evt){
     svg.style.cursor = "auto";
     let dragElement = evt.target;
     dragElement.classList.remove("ondrag");
  });

  svg.addEventListener("drag", function(evt){
     svg.style.cursor = "move";

     future.x = evt.clientX;
     future.y = evt.clientY;
     future.matrix = svg.getScreenCTM();
     future.element = evt.target;

     if(future.timer) {
       return;
     }


     future.timer = window.requestAnimationFrame(function(){
         var dragX = future.x, dragY=future.y, matrix=future.matrix;
         var svgX, svgY;

         if(0){
           dragX = svgX*matrix.a + matrix.e;
           dragY = svgY*matrix.d + matrix.f;
         }else{
           svgX = (dragX-matrix.e)/matrix.a;
           svgY = (dragY-matrix.f)/matrix.d;
         }
         svgX -= future.dx;
         svgY -= future.dy;
         // console.log(future);
         svgX = Math.round(svgX/10)*10;
         svgY = Math.round(svgY/10)*10;

         // var transform = `translate(${svgX}, ${svgY})`;
         var transform = [`translate(${svgX}, ${svgY})`, future.element.dataset.flip].join(" ");
         // console.log(transform);
         future.element.setAttribute("transform", transform);
         future.timer=null;
     });

  });

  svg.addEventListener("place", function(evt){
     svg.style.cursor = "move";

     future.x = evt.clientX;
     future.y = evt.clientY;
     future.matrix = svg.getScreenCTM();
     future.element = evt.target;

     if(future.timer) {
       return;
     }


     future.timer = window.requestAnimationFrame(function(){
         var dragX = future.x, dragY=future.y, matrix=future.matrix;
         var svgX, svgY;

         svgX = (dragX-matrix.e)/matrix.a;
         svgY = (dragY-matrix.f)/matrix.d;

         svgX = Math.round(svgX/10)*10;
         svgY = Math.round(svgY/10)*10;

         future.element.dataset.x = svgX;
         future.element.dataset.y = svgY;

         if(0){
           future.element.setAttribute("x", svgX);
           future.element.setAttribute("y", svgY);
         }else{
           var transform = [`translate(${svgX}, ${svgY})`, future.element.dataset.flip].join(" ");
           future.element.setAttribute("transform", transform);
         } 

         future.timer=null;
     });

  });
  
}

var svg = document.querySelector("svg");
svg_drag(svg);

function diagram_select_element(target){
     if(globalSelected){
        globalSelected.classList.remove("selected");
     }
     globalSelected = target;
     globalSelected.classList.add("selected");
     diagram_select(globalSelected);
}

function diagram_add_wire(){
   var el = document.createElementNS("http://www.w3.org/2000/svg", "path")
   el.setAttribute("d", "M 100,100 h 50");
   diagram_add_element(el);
}

function diagram_add_text(){
   var el = document.createElementNS("http://www.w3.org/2000/svg", "text")
   el.setAttribute("x", "0");
   el.setAttribute("y", "0");
   el.textContent = "Text";
   diagram_add_element(el);
}

function diagram_toggle_grid(){
   svg.querySelector("rect.grid").classList.toggle("nogrid");
}

function diagram_clear(){
   svg.querySelector("g.diagram").innerHTML = "";
}

function diagram_flip(){
   if(globalSelected){
     globalSelected.dataset.flip = "scale(-1,1)";
     globalSelected.setAttribute("transform", "scale(-1,1)");
   }
}

function diagram_add_element(el){
   svg.querySelector("g.diagram").appendChild(el);
}

function diagram_add_use(name){
   let x = -1000, y = -1000;
   var el = document.createElementNS("http://www.w3.org/2000/svg", "use")
   el.setAttribute("href", "#" + name);
   el.setAttribute("x", 0);
   el.setAttribute("y", 0);
   el.dataset.flip = "";
   diagram_add_element(el);
   // el.classList.add("ondrag");

   selectedElement = el;
   var dragstart_event = new Event('dragstart',{"bubbles":true, "cancelable":true});
   dragstart_event.clientX = x-50;
   dragstart_event.clientY = y-50;
   selectedElement.dispatchEvent(dragstart_event);
}

window.onload = function(){
  var app_main = document.querySelector("main");
  var app_svg  = document.querySelector("main svg");
  console.log(app_main.clientHeight, app_svg);
  /*
  app_svg.setAttribute("height", app_main.clientHeight);
  var app_svg_width  = parseInt(app_svg.getAttribute("width"));
  var app_svg_height = parseInt(app_svg.getAttribute("height"));
  var app_svg_viewbox = `-${app_svg_width/2} -${app_svg_height/2} ${app_svg_width} ${app_svg_height}`;
  app_svg.setAttribute("viewBox", app_svg_viewbox);
  */
}
</script>
</body>
</html>
